* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffc85b28;
}

/* header */
a {
  text-decoration: none;
}

.header {
  background-color: #fdb44b;
  width: 100%;
  height: 110px;
  display: flex;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-left {
  padding-top: 16px;
  width: 300px;
  height: 78px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-left p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.header-mid {
  width: max-content;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-seach {
  width: 500px;
  height: 40px;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  border: white;
}

.icon-seach {
  width: 50px;
  height: 34px;
  position: absolute;
  margin-left: -56px;
  margin-top: 2px;
  border-radius: 5px;
  border: white;
  background-color: #fdb44b;
}

.header-right {
  width: 700px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.nav-item {
  font-size: 20px;
  color: black;
}

.nav-item:hover {
  color: #f5f5f5;
}

.header .dangnhap {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: black;
  border: rgb(0, 174, 255);
  box-shadow: rgba(40, 40, 71, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: #f5f5f5;
}

.header .dangnhap:hover {
  background-color: #f8e796;
}

/* content  */

.main {
  padding: 0 154px;
  position: relative;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content-first {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#delete-underlined {
  text-decoration: none;
  color: black;
}

.big-exam {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#img-math {
  width: 600px;
  border-radius: 10px;
}

.subject-exam {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#btnSubject {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  border: transparent;
  padding: 10px;
  background-color: gold;
  box-shadow: 5px 5px 5px lightgray;
}

#btnSubject:hover {
  background-color: rgb(218, 186, 3);
  margin-left: 6px;
  margin-bottom: 6px;
}

#horizontal {
  width: 100%;
  height: 1px;
  background-color: aliceblue;
}

.nav-choice {
  width: 100%;
  height: 60px;
  background-color: #ffc93c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.ul-choice {
  padding-top: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

#li-choice {
  color: white;
  background-color: black;
  font-weight: 600;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#li-choice:hover {
  background-color: #f8e796;
  color: black;
}

.list-subject {
  position: relative;
  margin: auto;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.subject {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.subject:hover {
  box-shadow: 0px 10px 5px lightgrey;
  border-radius: 10px;
  margin: 0px 0px 0px 10px;
}

.buttonClick {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#btnSubjectAll {
  font-weight: 600;
  width: 200px;
  height: 50px;
  background-color: #ff6f3c;
  color: white;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnSubjectAll:hover {
  background-color: red;
}

.Info-subject {
  display: flex;
  flex-direction: column;
}

.Info-subject h2 {
  font-size: 25px;
  color: black;
}

#img-small {
  width: 200px;
}

.choose-list .btn {
  padding: 6px 20px;
  background-color: #fdc57b;
  font-weight: 600;
  position: relative;
  left: 40%;
  bottom: 100px;
}

.choose-list .btn:hover {
  background-color: #ff9a3c;
}

/* footer----------------------- */
.footer {
  padding: 60px 154px 60px 154px;
  background-color: #fdb44b;
  font-family: Arial, Helvetica, sans-serif;
}

.footer .footer-content {
  display: flex;
  gap: 100px;
  margin-bottom: 60px;
}

.footer .footer-content .footer-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer-content .footer-left p {
  color: black;
}

.footer-content .footer-left .footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
}

.footer-content .footer-left .flogo-list {
  margin-top: -20px;
  font-size: 40px;
  display: flex;
  gap: 10px;
  color: black;
}

.footer-content .footer-right {
  width: 50%;
}

.footer-right .ftable {
  width: 100%;
}

.ftable .ftable-items .ftable-item {
  padding: 20px;
  text-align: center;
  color: black;
}

.ftable .ftable-items {
  color: black;
}

.footer .end {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* chat */
.chat {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  gap: 30px;
}

.chat .right-chat button {
  font-size: 30px;
  width: 42px;
  height: 42px;
  border: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
}
